@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700,500,300,400&display=swap');


html,
body {
  padding: 0;
  margin: 0;
  font-size: 62.5%;
  font-family: 'Satoshi', sans-serif;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

button {
  font-family: 'Satoshi', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
